/* basic reset */
/* line 3, ../../app/stylesheets/_base.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
fieldset, textarea, input, p, select, option {
  margin: 0;
  padding: 0;
}

/* line 4, ../../app/stylesheets/_base.scss */
fieldset, img {
  border: 0;
}

/* line 5, ../../app/stylesheets/_base.scss */
img {
  display: block;
}

/* line 6, ../../app/stylesheets/_base.scss */
ol, ul, dl {
  list-style: none;
}

/* line 7, ../../app/stylesheets/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* colors */
/* measurements */
/* mixins */
/* navbar links
 * these aren't lists because inline-block makes our life much easier,
 * and IE7 only likes inline-block on elements that are display: inline
 * by default. (instead we use semantically-ugly divs/spans.) */
/* displays links the opposite style of normal wrt underlines */
/* displays block links (with no underline on hover) */
/* adds an icon to an element */
/* centered, standard-width content wrapper */
/* small button for general use */
/* medium button for .pane headers (add update and the like) */
/* line 4, ../../app/stylesheets/application.scss */
a {
  color: #3f71fb;
  text-decoration: none;
}
/* line 7, ../../app/stylesheets/application.scss */
a:hover {
  text-decoration: underline;
}

/* line 10, ../../app/stylesheets/application.scss */
input, select {
  border: 1px solid #d2d2d8;
  padding: 4px;
}

/* line 14, ../../app/stylesheets/application.scss */
select {
  padding: 3px;
}

/* line 15, ../../app/stylesheets/application.scss */
body {
  background: #dddddd;
  color: black;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
}

/* line 24, ../../app/stylesheets/application.scss */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background: #2e2e2e;
  color: white;
}
/* line 31, ../../app/stylesheets/application.scss */
#header .wrapper {
  width: 960px;
  position: relative;
  margin: 0 auto;
  background: red;
}
/* line 35, ../../app/stylesheets/application.scss */
#header .wrapper #nav {
  position: absolute;
  left: 0;
  font-weight: bold;
}
/* line 33, ../../app/stylesheets/_includes.scss */
#header .wrapper #nav span {
  display: inline-block;
  height: 18px;
  padding: 7px 0;
  float: left;
  padding-right: 10px;
}
/* line 39, ../../app/stylesheets/application.scss */
#header .wrapper #account {
  position: absolute;
  right: 0;
}
/* line 33, ../../app/stylesheets/_includes.scss */
#header .wrapper #account span {
  display: inline-block;
  height: 18px;
  padding: 7px 0;
  float: left;
  padding-left: 10px;
}
/* line 46, ../../app/stylesheets/_includes.scss */
#header .wrapper #account a {
  text-decoration: underline;
}
/* line 48, ../../app/stylesheets/_includes.scss */
#header .wrapper #account a:hover {
  text-decoration: none;
}
/* line 43, ../../app/stylesheets/application.scss */
#header .wrapper a {
  color: white;
}

/* line 46, ../../app/stylesheets/application.scss */
#flash {
  position: relative;
  top: 32px;
  left: 0;
  right: 0;
  font-weight: bold;
  background: black;
  color: white;
  text-align: center;
}
/* line 53, ../../app/stylesheets/application.scss */
#flash div {
  padding: 10px 0;
}
/* line 54, ../../app/stylesheets/application.scss */
#flash #flash-notice {
  background: green;
}
/* line 55, ../../app/stylesheets/application.scss */
#flash #flash-error {
  background: red;
}

/* line 57, ../../app/stylesheets/application.scss */
#body {
  position: relative;
  top: 32px;
  left: 0;
  right: 0;
}
/* line 60, ../../app/stylesheets/application.scss */
#body .wrapper {
  width: 960px;
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
}

/* line 65, ../../app/stylesheets/application.scss */
#footer {
  top: 30px;
  position: relative;
  text-align: center;
  font-size: 11px;
  color: #b0b0b0;
  padding-bottom: 20px;
}
