/* colors */
/* measurements */
/* mixins */
/* navbar links
 * these aren't lists because inline-block makes our life much easier,
 * and IE7 only likes inline-block on elements that are display: inline
 * by default. (instead we use semantically-ugly divs/spans.) */
/* displays links the opposite style of normal wrt underlines */
/* displays block links (with no underline on hover) */
/* adds an icon to an element */
/* centered, standard-width content wrapper */
/* small button for general use */
/* medium button for .pane headers (add update and the like) */
/* line 6, ../../app/stylesheets/updates.scss */
#body-nav {
  top: 45px;
}

/* line 11, ../../app/stylesheets/updates.scss */
#filters {
  padding: 10px 20px;
  margin: -20px;
  margin-bottom: 0;
  background: #d2d2d8;
}
/* line 18, ../../app/stylesheets/updates.scss */
#filters form input[type=text], #filters form select {
  width: 184px;
  border: 1px solid #939393;
}
/* line 22, ../../app/stylesheets/updates.scss */
#filters form input[type=submit] {
  color: #2e2e2e;
  font-size: 12px;
  line-height: 13px;
  font-weight: bold;
  padding: 5px 10px;
  background: #dddddd;
  border: 1px solid #939393;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 #d2d2d8;
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(white), to(#cccccc));
  padding: 5px 12px;
  position: absolute;
  right: 20px;
}
/* line 82, ../../app/stylesheets/_includes.scss */
#filters form input[type=submit]:hover {
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#7ba1db), to(#3468db));
  cursor: pointer;
  color: white;
  text-shadow: -1px 0 0 #585858;
  border-color: #244193;
}
/* line 89, ../../app/stylesheets/_includes.scss */
#filters form input[type=submit]:active {
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#3468db), to(#7ba1db));
  padding-top: 6px;
  padding-bottom: 4px;
}

/* line 30, ../../app/stylesheets/updates.scss */
#updates-header {
  padding: 20px 0;
  position: relative;
}
/* line 33, ../../app/stylesheets/updates.scss */
#updates-header h2 {
  font-size: 21px;
  font-weight: bold;
  color: #585858;
}

/* line 39, ../../app/stylesheets/updates.scss */
#updates {
  font-size: 14px;
}

/* line 42, ../../app/stylesheets/updates.scss */
li.update {
  position: relative;
}
/* line 45, ../../app/stylesheets/updates.scss */
li.update .update-when {
  text-transform: lowercase;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 50, ../../app/stylesheets/updates.scss */
li.update .update-main {
  position: relative;
  margin-left: 70px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 56, ../../app/stylesheets/updates.scss */
li.update .update-main .update-title {
  font-weight: bold;
}
/* line 59, ../../app/stylesheets/updates.scss */
li.update .update-main .update-author {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 64, ../../app/stylesheets/updates.scss */
li.update .update-main .update-text {
  padding: 5px 0;
}
/* line 46, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-text a {
  text-decoration: underline;
}
/* line 48, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-text a:hover {
  text-decoration: none;
}
/* line 68, ../../app/stylesheets/updates.scss */
li.update .update-main .update-files {
  padding-left: 0;
}
/* line 46, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-files a {
  text-decoration: underline;
}
/* line 48, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-files a:hover {
  text-decoration: none;
}
/* line 72, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments {
  padding: 5px 0 0 0;
  font-size: 12px;
  margin-right: 103px;
}
/* line 46, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-comments a {
  text-decoration: underline;
}
/* line 48, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-comments a:hover {
  text-decoration: none;
}
/* line 78, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments h3 {
  font-weight: bold;
  color: #707070;
}
/* line 82, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment {
  position: relative;
  background: #f7f7f7;
  border-bottom: 1px solid #eeeeee;
  padding: 5px;
  margin: 5px 0;
}
/* line 88, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment .comment-heading {
  color: #585858;
  margin-bottom: 3px;
}
/* line 93, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment.yours {
  background: #feffd6;
}
/* line 94, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment .comment-delete {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  line-height: 12px;
  font-weight: bold;
  padding: 0 3px 1px;
  vertical-align: middle;
}
/* line 103, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment .comment-delete:hover {
  background: #3f71fb;
  color: white;
}
/* line 109, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .new-comment {
  position: relative;
  width: 600px;
}
/* line 113, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment-input {
  width: 487px;
}
/* line 116, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment-submit {
  color: #2e2e2e;
  font-size: 12px;
  line-height: 13px;
  font-weight: bold;
  padding: 5px 10px;
  background: #dddddd;
  border: 1px solid #939393;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 #d2d2d8;
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(white), to(#cccccc));
  padding: 5px 0;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #eee;
}
/* line 82, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-comments .comment-submit:hover {
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#7ba1db), to(#3468db));
  cursor: pointer;
  color: white;
  text-shadow: -1px 0 0 #585858;
  border-color: #244193;
}
/* line 89, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-comments .comment-submit:active {
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#3468db), to(#7ba1db));
  padding-top: 6px;
  padding-bottom: 4px;
}
