/* colors */
/* measurements */
/* mixins */
/* navbar links
 * these aren't lists because inline-block makes our life much easier,
 * and IE7 only likes inline-block on elements that are display: inline
 * by default. (instead we use semantically-ugly divs/spans.) */
/* displays links the opposite style of normal wrt underlines */
/* displays block links (with no underline on hover) */
/* centered, standard-width content wrapper */
/* small button for general use */
/* medium button for .pane headers (add update and the like) */
/* line 3, ../../app/stylesheets/updates.scss */
#body-header {
  padding-bottom: 20px;
  position: relative;
}
/* line 6, ../../app/stylesheets/updates.scss */
#body-header h1 {
  font-size: 36px;
  font-weight: bold;
}
/* line 12, ../../app/stylesheets/updates.scss */
#body-header #add-update {
  display: block;
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 14px;
  padding: 10px 20px;
  border: 2px solid #1e8232;
  background: green;
  background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0, #006600), color-stop(0.1, #007700), color-stop(0.9, #009900), color-stop(1, #008800));
  -moz-box-shadow: inset 0 0 2px black;
  -webkit-box-shadow: inset 0 0 2px black;
  box-shadow: inset 0 0 2px black;
  text-shadow: 0 0 2px black;
  margin: 0 0 10px 10px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 109, ../../app/stylesheets/_includes.scss */
#body-header #add-update:hover {
  background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0, #007900), color-stop(0.1, #009a00), color-stop(0.9, #00b200), color-stop(1, #00a400));
  text-decoration: none;
}
/* line 116, ../../app/stylesheets/_includes.scss */
#body-header #add-update:active {
  background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0, #009000), color-stop(0.1, #00a300), color-stop(0.9, #00a000), color-stop(1, #009d00));
  padding-top: 11px;
  padding-bottom: 9px;
}

/* line 20, ../../app/stylesheets/updates.scss */
#body-body {
  position: relative;
}

/* line 23, ../../app/stylesheets/updates.scss */
#body-nav {
  width: 250px;
  position: absolute;
  right: 0;
  z-index: 2;
}
/* line 29, ../../app/stylesheets/updates.scss */
#body-nav > ul > li {
  margin-bottom: 5px;
  padding: 10px;
  clear: both;
  position: relative;
  font-size: 13px;
}
/* line 36, ../../app/stylesheets/updates.scss */
#body-nav > ul > li:hover, #body-nav > ul > li.active {
  background: #dddddd;
  color: black;
  text-shadow: 0 1px 1px #eeeeee;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 43, ../../app/stylesheets/updates.scss */
#body-nav > ul > li.active a.label {
  border-bottom: 1px dashed #b0b0b0;
  padding-bottom: 5px;
}
/* line 46, ../../app/stylesheets/_includes.scss */
#body-nav > ul > li.active div a {
  text-decoration: underline;
}
/* line 48, ../../app/stylesheets/_includes.scss */
#body-nav > ul > li.active div a:hover {
  text-decoration: none;
}
/* line 49, ../../app/stylesheets/updates.scss */
#body-nav > ul > li.active div a {
  color: #244193;
}
/* line 50, ../../app/stylesheets/updates.scss */
#body-nav > ul > li.active div h3 {
  font-weight: bold;
  margin: 10px 0 5px;
}
/* line 54, ../../app/stylesheets/updates.scss */
#body-nav > ul > li.active div ul {
  list-style-type: disc;
  color: #939393;
}
/* line 57, ../../app/stylesheets/updates.scss */
#body-nav > ul > li.active div ul li {
  margin: 3px 0 3px 15px;
}
/* line 63, ../../app/stylesheets/updates.scss */
#body-nav > ul > li a.label {
  display: block;
  font-size: 16px;
  color: #585858;
  text-shadow: 0 1px 1px white;
  font-weight: bold;
}
/* line 55, ../../app/stylesheets/_includes.scss */
#body-nav > ul > li a.label:hover {
  text-decoration: none;
}

/* line 73, ../../app/stylesheets/updates.scss */
.main {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 250px;
}
/* line 77, ../../app/stylesheets/updates.scss */
.main .pane {
  background: white;
  position: relative;
  z-index: 3;
  padding: 20px;
  -moz-box-shadow: 0 0 3px #939393;
  -webkit-box-shadow: 0 0 3px #939393;
  box-shadow: 0 0 3px #939393;
}

/* line 86, ../../app/stylesheets/updates.scss */
#filters {
  padding: 10px 20px;
  margin: -20px;
  margin-bottom: 0;
  background: #d2d2d8;
}
/* line 92, ../../app/stylesheets/updates.scss */
#filters form input[type=text], #filters form select {
  width: 184px;
  border: 1px solid #939393;
}
/* line 96, ../../app/stylesheets/updates.scss */
#filters form input[type=submit] {
  color: #2e2e2e;
  font-size: 12px;
  line-height: 13px;
  font-weight: bold;
  padding: 5px 10px;
  background: #dddddd;
  border: 1px solid #939393;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 #d2d2d8;
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(white), to(#cccccc));
  padding: 5px 12px;
  position: absolute;
  right: 20px;
}
/* line 77, ../../app/stylesheets/_includes.scss */
#filters form input[type=submit]:hover {
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#7ba1db), to(#3468db));
  cursor: pointer;
  color: white;
  text-shadow: -1px 0 0 #585858;
  border-color: #244193;
}
/* line 84, ../../app/stylesheets/_includes.scss */
#filters form input[type=submit]:active {
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#3468db), to(#7ba1db));
  padding-top: 6px;
  padding-bottom: 4px;
}

/* line 104, ../../app/stylesheets/updates.scss */
#updates-header {
  padding: 20px 0;
  position: relative;
}
/* line 107, ../../app/stylesheets/updates.scss */
#updates-header h2 {
  font-size: 21px;
  font-weight: bold;
  color: #585858;
}

/* line 113, ../../app/stylesheets/updates.scss */
#updates {
  font-size: 14px;
}

/* line 116, ../../app/stylesheets/updates.scss */
li.update {
  position: relative;
}
/* line 119, ../../app/stylesheets/updates.scss */
li.update .update-when {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 123, ../../app/stylesheets/updates.scss */
li.update .update-main {
  position: relative;
  margin-left: 70px;
  border-bottom: 1px dashed #dddddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 130, ../../app/stylesheets/updates.scss */
li.update .update-main .update-title {
  font-weight: bold;
}
/* line 133, ../../app/stylesheets/updates.scss */
li.update .update-main .update-author {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 138, ../../app/stylesheets/updates.scss */
li.update .update-main .update-text {
  padding: 5px 0;
}
/* line 46, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-text a {
  text-decoration: underline;
}
/* line 48, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-text a:hover {
  text-decoration: none;
}
/* line 142, ../../app/stylesheets/updates.scss */
li.update .update-main .update-files {
  padding-left: 0;
}
/* line 46, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-files a {
  text-decoration: underline;
}
/* line 48, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-files a:hover {
  text-decoration: none;
}
/* line 146, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments {
  padding: 5px 0 0 0;
  font-size: 12px;
  margin-right: 100px;
}
/* line 46, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-comments a {
  text-decoration: underline;
}
/* line 48, ../../app/stylesheets/_includes.scss */
li.update .update-main .update-comments a:hover {
  text-decoration: none;
}
/* line 152, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments h3 {
  font-weight: bold;
  color: #707070;
  margin-bottom: -5px;
}
/* line 157, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment {
  background: #f7f7f7;
  border-bottom: 1px solid #eeeeee;
  padding: 5px;
  margin: 5px 0;
}
/* line 162, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment .comment-heading {
  color: #585858;
  margin-bottom: 3px;
}
/* line 169, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments .comment.yours {
  background: #feffd6;
}
/* line 171, ../../app/stylesheets/updates.scss */
li.update .update-main .update-comments input {
  width: 490px;
}
