/* colors */
/* measurements */
/* mixins */
/* navbar links
 * these aren't lists because inline-block makes our life much easier,
 * and IE7 only likes inline-block on elements that are display: inline
 * by default. (instead we use semantically-ugly divs/spans.) */
/* displays links the opposite style of normal wrt underlines */
/* displays block links (with no underline on hover) */
/* adds an icon to an element */
/* centered, standard-width content wrapper */
/* small button for general use */
/* medium button for .pane headers (add update and the like) */
/* line 3, ../../app/stylesheets/users.scss */
.letters-list {
  position: absolute;
  background: white;
  width: 709px;
}
/* line 7, ../../app/stylesheets/users.scss */
.letters-list.top {
  top: 61px;
}
/* line 8, ../../app/stylesheets/users.scss */
.letters-list.bot {
  bottom: 0;
}
/* line 9, ../../app/stylesheets/users.scss */
.letters-list ul {
  overflow: hidden;
}
/* line 11, ../../app/stylesheets/users.scss */
.letters-list ul li {
  text-align: center;
  float: left;
}
/* line 14, ../../app/stylesheets/users.scss */
.letters-list ul li.disabled a {
  color: #dddddd;
}
/* line 16, ../../app/stylesheets/users.scss */
.letters-list ul li.disabled a:hover {
  background: #eeeeee;
  color: #dddddd;
}
/* line 21, ../../app/stylesheets/users.scss */
.letters-list ul li a {
  font-size: 13px;
  line-height: 20px;
  width: 21px;
  display: block;
  padding: 7px 3px;
  font-weight: bold;
}
/* line 28, ../../app/stylesheets/users.scss */
.letters-list ul li a:hover {
  text-decoration: none;
  background: #585858;
  color: white;
}
/* line 33, ../../app/stylesheets/users.scss */
.letters-list ul li a.disabled {
  color: #d2d2d8;
}
/* line 38, ../../app/stylesheets/users.scss */
.letters-list ul li:first-child a {
  padding-left: 7px;
}
/* line 39, ../../app/stylesheets/users.scss */
.letters-list ul li:last-child a {
  padding-right: 7px;
}

/* line 43, ../../app/stylesheets/users.scss */
#users-list {
  overflow: auto;
  margin-top: 34px;
}

/* line 47, ../../app/stylesheets/users.scss */
.drop-cap {
  position: relative;
  clear: both;
  text-transform: uppercase;
  padding-top: 1px;
}
/* line 52, ../../app/stylesheets/users.scss */
.drop-cap .letter {
  font-size: 21px;
  line-height: 21px;
  background: #eeeeee;
  padding: 4px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

/* line 62, ../../app/stylesheets/users.scss */
.user {
  position: relative;
  background: white;
  margin-top: 1px;
  padding: 10px;
  float: left;
  font-size: 13px;
  line-height: 16px;
  height: 81px;
  overflow: hidden;
}
/* line 72, ../../app/stylesheets/users.scss */
.user.in-activation {
  width: 334px;
}
/* line 73, ../../app/stylesheets/users.scss */
.user.outside-activation {
  width: 286px;
}
/* line 74, ../../app/stylesheets/users.scss */
.user img {
  float: left;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}
/* line 80, ../../app/stylesheets/users.scss */
.user .text {
  margin-left: 70px;
  margin-top: -3px;
  position: relative;
}
/* line 84, ../../app/stylesheets/users.scss */
.user .text .name {
  font-size: 16px;
  line-height: 18px;
}
/* line 88, ../../app/stylesheets/users.scss */
.user .text .orgs {
  width: 10000px;
}
/* line 90, ../../app/stylesheets/users.scss */
.user .text .orgs li {
  float: left;
  margin-right: 5px;
}
/* line 96, ../../app/stylesheets/users.scss */
.user .lists {
  width: 10000px;
  clear: both;
}
/* line 100, ../../app/stylesheets/users.scss */
.user .lists .groups li {
  float: left;
  margin-right: 5px;
}
