/* colors */
/* measurements */
/* mixins */
/* navbar links
 * these aren't lists because inline-block makes our life much easier,
 * and IE7 only likes inline-block on elements that are display: inline
 * by default. (instead we use semantically-ugly divs/spans.) */
/* displays links the opposite style of normal wrt underlines */
/* displays block links (with no underline on hover) */
/* adds an icon to an element */
/* centered, standard-width content wrapper */
/* small button for general use */
/* medium button for .pane headers (add update and the like) */
/* line 3, ../../app/stylesheets/users.scss */
#users-list {
  overflow: auto;
  margin: -20px;
  padding: 25px 5px 5px;
}

/* line 8, ../../app/stylesheets/users.scss */
.drop-cap {
  position: relative;
  clear: both;
  background: white;
  padding: 5px;
  text-transform: uppercase;
}
/* line 14, ../../app/stylesheets/users.scss */
.drop-cap .letter {
  font-size: 21px;
  line-height: 21px;
  padding: 4px;
  background: #eeeeee;
  width: 21px;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
/* line 26, ../../app/stylesheets/users.scss */
.drop-cap .extra {
  position: absolute;
  border-bottom: 1px dashed #eeeeee;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 1;
}

/* line 33, ../../app/stylesheets/users.scss */
.user {
  position: relative;
  background: #eeeeee;
  padding: 10px;
  margin: 5px;
  float: left;
  font-size: 13px;
  line-height: 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 41, ../../app/stylesheets/users.scss */
.user.in-activation {
  width: 320px;
}
/* line 42, ../../app/stylesheets/users.scss */
.user.outside-activation {
  width: 286px;
}
/* line 44, ../../app/stylesheets/users.scss */
.user img {
  float: left;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}
/* line 50, ../../app/stylesheets/users.scss */
.user .text {
  margin-left: 70px;
  margin-top: -3px;
  position: relative;
}
/* line 54, ../../app/stylesheets/users.scss */
.user .text .name {
  font-size: 16px;
  line-height: 18px;
}
/* line 59, ../../app/stylesheets/users.scss */
.user .text .orgs li {
  float: left;
  margin-right: 5px;
}
/* line 65, ../../app/stylesheets/users.scss */
.user .lists {
  clear: both;
}
/* line 68, ../../app/stylesheets/users.scss */
.user .lists .groups li {
  float: left;
  margin-right: 5px;
}
