- if current_user.organizations.exists?
  You're a member of some organization, looks like. Cool.
- else
  You're not a member of any organization. You should request an invite or
  =link_to 'Add an Organization', new_organization_path