%h2 Your activations
- if @activations.empty?
  %p You are not a part of any activations.
- else
  %ul
    - @activations.each do |activation|
      %li= link_to activation.title, activation
  = link_to 'Add an Activation', new_activation_path, { class: 'btn' }

