@import 'includes';

#body-header {
  padding-bottom: $pad1;
  position: relative;
  h1 {
    font: {
      size: 36px;
      weight: bold;
    }
  }
  #add-update {
    display: block;
    @include med_button;
    margin: 0 0 $pad2 $pad2;
    position: absolute;
    top: 0; right: 0;
  }
}
#body-body {
  position: relative;
}
  #nav-holder {
    position: absolute;
    width: 960px;
    left: 50%; margin-left: -480px;
    top: 0;
  }
    #body-nav {
      width: $nav-width;
      position: absolute;
      top: 0; right: 0;
      z-index: 2;
      width: 249px;
      background: $grey8;

      > ul {

        > li {
          clear: both;
          position: relative;
          font-size: 13px;

          &:hover, &.active {
            background: white;
            color: black;
          }
          .extra { display: none; }
          &.active {
            > a {
              border-bottom: 1px dashed $grey5;
              padding-bottom: $pad3;
            }
            .extra {
              display: block;
              padding: $pad2;
              @include reversed_links;
              h3 {
                font-weight: bold;
                margin:  $pad2 0 $pad3;
              }
              ul {
                list-style-type: disc;
                color: $grey4;
                li {
                  margin: 3px 0 3px 15px;
                }
              }
              .calendar {
                // actual width is 160, but it looks centered this way
                width: 165px;
                margin: 0 auto;
                .cal-title a { text-decoration: none; }
              }
            }
          }
          > a {
            @include block_link;
            padding: $pad2 $pad2 $pad2 $pad2 + 22px;
            font-size: 16px;
            color: black;
            text-shadow: 0 1px 1px white;
            font-weight: bold;
            &.updates { @include icon('is_bubbles_16b.png',9px,11px); }
            &.people  { @include icon('is_person_16b.png',$pad2,9px); }
            &.groups  { @include icon('is_people_16b.png',$pad2,9px); }
            &.summary { @include icon('is_chart_16b.png',11px,10px);  }
            opacity: 0.8;
          }
        }
      }
    }
  .main {
    position: relative;
    left: 0; top: 0; right: 0; bottom: 0;
    padding-right: $nav-width;
    .pane {
      position: relative;
      z-index: 3;
    }
  }
      #inner-header {
        padding: $pad2;
        position: relative;
        background: white;
        h2 {
          font-size: 21px;
          font-weight: bold;
        }
      }
      #filters {
        position: relative;
        z-index: 50;
        padding: 0 $pad2 $pad2;
        margin-top: -$pad2;
        margin-bottom: 1px;
        background: white;
        font-size: 13px;
        @include reversed_links;
        form {
          display: none;
          input[type=text],select {
            width: 184px;
            border: 1px solid $grey4;
            float: left;
            padding: 8px;
            color: black;
            background: $grey8;
            border: 0;
            @include border_radius(3px);
            font-size: 16px;
            line-height: 17px;
            &.default-text { color: $grey4; }
          }
          .multiselect {
            width: 184px;
            float: left;
            margin-left: 4px;
            font-size: 16px;
            line-height: 17px;
            background: $grey8;
            @include border_radius(3px);
            a {
              color: black;
              padding: 9px;
              display: block;
              text-align: right;
              &:hover {
                text-decoration: none;
              }
            }
            ul {
              display: none;

            }
          }
          input[type=submit] {
            @include small_button;
            padding: 9px ($pad2+2);
            position: absolute;
            right: $pad1;
            border-width: 0;
            line-height: 17px;
          }
        }
      }
