@import 'base';
@import 'includes';

a {
  color: $link-blue;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

input, select {
  border: 1px solid $grey6;
  padding: 4px;
}
select { padding: 3px; }
body {
  background: white;
  color: black;
  font: {
    family: Arial, Helvetica Neue, Helvetica, sans-serif;
    size: 16px;
  }
  width: 100%;
}
  #header {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: $nav-height;
    a { color: black; }

    .wrapper {
      @include body_width;
      background: red;

      #nav {
        @include nav_links(left);
        font-weight: bold;
      }
      #account {
        @include nav_links(right);
        @include reversed_links;
      }
    }
  }
  #flash {
    position: relative;
    top: $nav-height; left: 0; right: 0;
    font-weight: bold;
    background: black;
    color: white;
    text-align: center;
    div { padding: $pad2 0; }
    #flash-notice { background: green; }
    #flash-error  { background: red;   }
  }
  #body {
    position: relative;
    top: $nav-height; left: 0; right: 0;
    .wrapper {
      @include body_width;
      padding: 0 0 $pad1;
    }
  }
  #footer {
    top: 30px;
    position: relative;
    text-align: center;
    font-size: 11px;
    color: $grey5;
    padding-bottom: 20px;
  }

