@import 'includes';

#filters {
  // we need to change this padding because the users page uses
  // different margins around content than the updates page
  // and having it not match annoys me
  padding-left: $pad2;
  padding-right: $pad2;
}

.letters-list {
  position: absolute;
  background: $grey8;
  // Sass seems to have a bug when this isn't in parens
  margin: 0 (-$pad1);
  width: 710px;
  &.top { top: 45px; }
  &.bot { bottom: 0; }
  ul {
    overflow: hidden;
    li {
      text-align: center;
      float: left;
      &.disabled a {
        color: $grey6;
        &:hover {
          background: $grey8;
          color: $grey6;
        }
      }
      a {
        font-size:   13px;
        line-height: 20px;
        width:       21px;
        display: block;
        padding: 7px 3px;
        font-weight: bold;
        &:hover {
          text-decoration: none;
          background: $grey2;
          color: white
        }
        &.disabled {
          color: $grey6;
        }
      }
    }
    li:first-child a { padding-left: 7px; }
    li:last-child a  { padding-right: 7px; }
  }
}

#users-list {
  overflow: auto;
  margin: -$pad1;
  margin-top: 14px;
  padding: ($pad1 + $pad3) $pad3 ($pad3 + 34px);
}
  .drop-cap {
    position: relative;
    clear: both;
    background: white;
    padding: $pad3;
    text-transform: uppercase;
    .letter {
      font-size:   21px;
      line-height: 21px;
      padding: 4px;
      background: $grey8;
      width: 21px;
      text-align: center;
      font-weight: bold;
      @include border_radius(5px);
      position: relative;
      z-index: 2;
    }
    .extra {
      position: absolute;
      border-bottom: 1px dashed $grey8;
      top: 50%; left: $pad3; right: $pad3;
      z-index: 1;
    }
  }
  .user {
    position: relative;
    background: $grey8;
    padding: $pad2;
    margin: $pad3;
    float: left;
    font-size: 13px;
    line-height: 16px;
    height: 81px;
    overflow: hidden;
    &.in-activation { width: 340px - ($pad2 * 2); }
    &.outside-activation { width: 306px - ($pad2 * 2); }
    @include border_radius(5px);
    img {
      float: left;
      width: 60px;
      height: 60px;
      margin-bottom: $pad3;
    }
    .text {
      margin-left: 70px;
      margin-top: -3px;
      position: relative;
      .name {
        font-size: 16px;
        line-height: 18px;
      }
      .orgs {
        width: 10000px;
        li {
          float: left;
          margin-right: 5px;
        }
      }
    }
    .lists {
      width: 10000px;
      clear: both;
      .groups {
        li {
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
  
