@import 'includes';

#users-list {
  overflow: auto;
  margin: -$pad1;
  padding: ($pad1 + $pad3) $pad3 $pad3;
}
  .drop-cap {
    position: relative;
    clear: both;
    background: white;
    padding: $pad3;
    text-transform: uppercase;
    .letter {
      font-size:   21px;
      line-height: 21px;
      padding: 4px;
      background: $grey8;
      width: 21px;
      text-align: center;
      font-weight: bold;
      @include border_radius(5px);
      position: relative;
      z-index: 2;
    }
    .extra {
      position: absolute;
      border-bottom: 1px dashed $grey8;
      top: 50%; left: $pad3; right: $pad3;
      z-index: 1;
    }
  }
  .user {
    position: relative;
    background: $grey8;
    padding: $pad2;
    margin: $pad3;
    float: left;
    font-size: 13px;
    line-height: 16px;
    &.in-activation { width: 340px - ($pad2 * 2); }
    &.outside-activation { width: 306px - ($pad2 * 2); }
    @include border_radius(5px);
    img {
      float: left;
      width: 60px;
      height: 60px;
      margin-bottom: $pad3;
    }
    .text {
      margin-left: 70px;
      margin-top: -3px;
      position: relative;
      .name {
        font-size: 16px;
        line-height: 18px;
      }
      .orgs {
        li {
          float: left;
          margin-right: 5px;
        }
      }
    }
    .lists {
      clear: both;
      .groups {
        li {
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
  
