%h2 Want Duckling for your organization?
= link_to "Create an account for your organization", new_account_url

%h2 Joining an organization already using Duckling?
= link_to "Create your account", new_account_url

%h2 Already got an account?
= link_to "Log In Here", login_url