%h2 Want Duckling for your organization?
= link_to "Create an organization account", new_account_url

%h2 Joining an organization already using Duckling?
= link_to "Create your personal account", new_account_url

%h2 Already got an account?
= link_to "Log In Here", login_url