#updates
  %ul

    - current_date = Time.now
    - updates.each do |update|
      - if update.created_at.day != current_date.day
        - current_date = update.created_at
        %li.day{id: current_date.strftime("%A-%B-%-d")}
          %h2.day-wrap= interstitial_date(current_date)
      %li.update{class: @current_user == update.author ? 'yours' : ''}
        = render partial: 'update', object: update, locals: {show_sections: false}
