#filters
  %form
    %fieldset#filters-simple
      %input{type: 'text', value: 'Search'}/
      %select
        %option All Organizations
      %select
        %option All Groups
      %input{type: 'submit', value: 'Apply Filters'}/
#updates-header
  %h2= "Showing all #{@updates.length} updates"
#updates
  %ul
    - @updates.each do |update|
      %li.update{:class => @current_user == update.author ? 'yours' : ''}
        = render partial: 'update', locals: { update: update}
        
