@import 'includes';

#header {

}
  #alerts-count {
    display: block;
    color: white;
    background: $grey2;
    &.active { background: #C60000; }
    padding: $pad3;
    width: 22px;
    text-align: center;
    position: absolute;
    left: $pad1; top: 14px; bottom: 13px;
    border: 1px solid $grey1;
    font-size: 24px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      outline: 2px solid white;
    }
  }
  #filters {
    position: absolute;
    left: 70px; right: 200px; top: $pad1; bottom: $pad1;
  }
    #activation-select {
      font-size: 21px;
      margin-top: -5px;
    }
    #add-update {
      display: block;
      @include med_button;
      position: absolute;
      top: 13px; right: $pad1; bottom: 13px;
    }

#body {
  
}

#sidebar {

}
  #updates-link {
    font-size: 24px;
  }
  #account {
    position: absolute;
    bottom: 0; left: 0;
    padding: $pad1;
  }

//.updates { @include icon('is_bubbles_16b.png',9px,11px); }
//.people  { @include icon('is_person_16b.png',$pad2,9px); }
//.groups  { @include icon('is_people_16b.png',$pad2,9px); }
//.summary { @include icon('is_chart_16b.png',11px,10px);  }

