/*
 *= require chosen
 */


@import 'includes';

@mixin grad($col){
  $hi: lighten($col, 3%);
  $lo: darken($col, 3%);
  background-image: -webkit-linear-gradient(top, $hi, $lo);
  background-image:    -moz-linear-gradient(top, $hi, $lo);
  background-image:      -o-linear-gradient(top, $hi, $lo);
}

#header {
//  background-color: #ccc;  
  .slab {
    font-size: 18px;
    float: left;
    padding: 12px;
    position: relative;
    
    height: 18px;
        
    @include reversed_links;
    a { color: #fff; }
  }
  
  #slab-1 {
    @include grad(#111);
    width: (($nav-width)-(2*12)+2*$pad1);
    text-align: right;
    
    #alerts-count {
      border-radius: 10px;
      padding: 2px 5px;
      color: white;
      background: #C60000;
      text-align: center;
    
      border: 1px solid $grey1;
      font-size: 14px;
      font-weight: bold;

      text-decoration: none;
      &:hover { border: 1px solid #fff; text-decoration: none;}
    
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  #slab-2 {
    @include grad(#444);
    width: 194px;
    
    #activation-picker {
      display: none;
      position: absolute;
      top: $nav-height;
      left: 0;
      color: white;
      background: transparent;
      
      li {
        padding: 5px;
        background: darken(#3c3c3c, 5%);
        &:nth-child(odd) {
          background: lighten(#3c3c3c, 5%); 
        }
        a {
         text-decoration: none;
         &:hover { text-decoration: underline; } 
        }
      }
      
      #activation-link{
        background: $link_blue;
        a {
          color: white; 
        }
        border-radius: 0 0 8px 8px;
      }
    }
    
    &:hover #activation-picker {
      display: block; 
    }
  }
  
  #slab-3 {
    font-size: 14px;
    line-height: 18px;
    @include grad(#888);
    img { display: inline; }
    border-bottom-right-radius: 8px;
  }
  
  #user-slab {
    position: absolute;
    right: 0;
    float: none;
    background-color: #fff;
    color: #000;
    a{color:#000;}
    font-size: 14px;
    line-height: 18px;
  }
}


#body {
  padding: $pad1;
}
  #panel {
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 1000;
    display: none;

    .panel {
      $pad: 50px;
      position: absolute;
      left: $pad; right: $pad; top: $pad;
      padding: $pad1;
      background: white;
      display: none;

      #invite-search {
        padding: $pad2 0;
      }
      #invite-form {
        
        input:checked + label { font-weight: bold; }
      }

      .search-text { display: none; }
    }
  }

#sidebar {
  font-size: 14px;
  background: #ddd;
  color: #000;
  display: none;
}

.left {
  float: left;
}

//.updates { @include icon('is_bubbles_16b.png',9px,11px); }
//.people  { @include icon('is_person_16b.png',$pad2,9px); }
//.groups  { @include icon('is_people_16b.png',$pad2,9px); }
//.summary { @include icon('is_chart_16b.png',11px,10px);  }

