/*
 *= require chosen
 */


@import 'includes';

@mixin linearGradient($top, $bot) {
  background-image: -webkit-linear-gradient(top, $top 0%, $top 60%, $bot 100%);
  background-image:    -moz-linear-gradient(top, $top 0%, $top 60%, $bot 100%);
  background-image:      -o-linear-gradient(top, $top 0%, $top 60%, $bot 100%);
}

@mixin grad($col){
  $hi: lighten($col, 10%);
  $lo: darken($col, 10%);
  @include linearGradient($hi, $lo);
}

#header {
  font-size: 18px;
  
  padding-top: 10px;
  left: 0;
  
  @include linearGradient(rgba(255,255,255,1), rgba(255,255,255,0));
  height: 50px;
  
  #overview {
    float: left;
    text-align: center;
    @include reversed_links;
    a {
      width: 100%;
      padding: 12px 15px;
      height: 18px;
      color: white;
      background: #000;
    }
  }

  #current-activation {
    display: block;
    float: left;
        @include reversed_links;
    a {
      padding: 12px 12px 12px 15px;
      height: 18px;
      color: white;
      background: #666;
    }
  }
  
  #submenu {
    float: left;
    color: black;
    background: white;
    margin: 0 0 0 15px;
    
    li {
      float: left;
//      margin: 0 3px;
      &:nth-child(n+2):before{
        margin: 0 7px;
        color: #888;
        content: "/"; 
      }
    }
  }

  #account-controls {
    position: absolute;
    right: 10px;
    top: 10px;
    float: none;
    background-color: #fff;
    color: #888;
    a{color:#444;}
    font-size: 13px;
    line-height: 18px;
  }
}

#body {
  padding: $pad1;
}
  #panel {
    background: rgba(0,0,0,0.8);
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 1000;
    display: none;

    .panel {
      $pad: 50px;
      position: absolute;
      left: 20%;
      right: 20%;
      top: 25%;
      bottom: 25%;
      
      overflow: auto;
      
      padding: $pad1;
      background: white;
      display: none;
      border: 10px solid #ccc;
      border-radius: 10px;

      #invite-search {
        padding: $pad2 0;
      }
      #invite-form {
        ul {
          margin-top: 40px;
          li {
            float: left;
            margin: 8px;
          }
        }
        input[type='checkbox'] {
          display: none; 
        }
        label {
          font-size: 14px;
          text-align: left;
          display: block;
          padding: 10px 5px;
          border: 1px solid #ccc;
          .name {
            color: $link-blue;
          }
          .email {
            font-size: 12px; 
          }
          &:hover {
            border-color: $link-blue; 
          }
        }
        input:checked + label {
          background: $link-blue;
          color: #fff;
          .name {
            color: #fff; 
          }
        }
      }

      .search-text { display: none; }
    }
  }

#sidebar {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 12px;
  text-align: right;
  
  #account-controls {
    margin-right: 12px; 
  }
  
  a {
    font-size: 14px;
    text-align: right;
  }
  
  #notifications {
    margin: 40px 0;
    &> a {
      background-color: #900; 
      font-size: 16px;
      padding: 12px;
      color: white;
    }
    
    ul {
      margin: 40px 0 0 0;
      text-align: left;
      li {
        margin: 12px 0;
        font-size: 14px;
        background: #fff;
        color: #000;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        padding: 5px;

        .activation {
          line-height: 16px;
        }
        &.unread .event {
          font-weight: bold;
        }
      }
    }
  }
}

.left {
  float: left;
}

//.updates { @include icon('is_bubbles_16b.png',9px,11px); }
//.people  { @include icon('is_person_16b.png',$pad2,9px); }
//.groups  { @include icon('is_people_16b.png',$pad2,9px); }
//.summary { @include icon('is_chart_16b.png',11px,10px);  }

