/*
 *= require screen
 */
@import "bootstrap";

body {
    padding-top: 90px
}

#flash div{
  border: 1px solid;
  padding: 1em;
  margin: 2em;
  font-weight: bold;
  width: 450px;

  &#flash-error {
    $color: #c00;
    border-color: $color;
    color: $color;
    background-color: #fcc;
  }
}

#shield {
  display: none;
  background: rgba(255,255,255,0.24);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 20;
}
