%h1= t('user.get_started')
What's your email address? We'll send you registration instructions right away.

= form_for @email, url: account_emails_path, method: 'post' do |form|
  = form.text_field :email
  = submit_tag 'Get Started'
